.accordion {
  .card {
    .card-header {
      button {
        padding-right: 0;
      }
    }
    .card-body {
      display: none;
    }
    &.selected {
      .card-body {
        display: block;

        .field {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .name {
            font-weight: bold;
          }
          .value {
          }
        }
      }
    }
  }
}
