.accordion {
  .card {
    border-width: 0px 0px 0px 10px;

    .card-header {
      button {
        padding-right: 0;
      }
    }
    .card-body {
      display: none;
    }
    &.selected {
      border-width: 1px 1px 1px 10px !important;
      box-shadow: 5px 5px 5px grey;
      border-bottom: 1px solid red;
      z-index: 999;
      .card-header {
        // background-color: lighten($primary, 0.5);
        // color: $white;
      }
      .card-body {
        display: block;

        .field {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .name {
            font-weight: bold;
          }
          .value {
          }
        }
      }
    }
  }
}
