html {
  body {
    #root {
      min-height: calc(100vh);
      display: flex;
      flex-direction: column;

      header {
        height: $header-height;
        nav.navbar-dark {
          height: 100%;
          justify-content: space-between;
          align-items: center;
          padding-top: 0;
          padding-bottom: 0;

          #brand {
            flex-grow: 1;
            width: 20%;
          }

          #app-header {
            flex-grow: 2;
            color: $white;
            width: 60%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;

            h1 {
              padding: 0 1rem;
              margin: 0;
            }
            a {
              color: $white;
            }
          }

          #menu {
            width: 20%;
            flex-grow: 1;
            display: flex;
            justify-content: flex-end;

            ul {
              margin-left: auto;
              color: $white;
              .nav-link {
                color: $white;
              }

              .avatar {
                height: 32px;
                margin-right: 1em;
              }

              .dropdown {
                .dropdown-menu {
                  margin: 0;
                }
                .dropdown-menu.opened {
                  display: block;
                }
              }
            }
          }
        }
      }

      .btn > i {
        margin-right: 0.5rem;
      }

      main {
        height: calc(100vh - #{$header-height} - #{$footer-height});
        overflow: auto;

        & > div.row {
          margin-bottom: 2em;
        }

        .row.page-title {
          padding: 1em 0;
          margin-bottom: 0;
          .col {
            display: flex;
            align-items: center;
            h2 {
              margin-right: 10px;
              margin-bottom: 0;
              & + button,
              a {
                font-size: 1.5em;
              }
            }
          }
        }
      }

      footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 0.5em;
        opacity: 0.8;
        height: $footer-height;
        background-color: $white;
      }
    }
  }
}
