.preview {
  position: sticky;
  top: 0;
  background-color: $secondary;
  padding: 1rem;
  color: $white;
  h4 {
    text-align: center;
  }
}

.schema-card {
  @extend .card;
  border-width: 1px 1px 1px 10px;
  border-style: solid;
  display: flex;
  flex-direction: row;
  padding: 0.3em;
  margin-right: 0.6em;
  margin-bottom: 0.6em;
  align-items: center;

  .schema-card-body {
    font-size: 1.2em;
    margin: 0 5px;
  }
  .schema-card-action {
    display: flex;
    align-items: center;
    > * {
      margin-left: 10px;
    }
  }
}
